* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.login-form-submit-btn {
  width: 10%;
}

.write-page {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.write-home-btn {
  width: 10%;
}

.write-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 75vh;
  justify-content: space-around;
  align-items: center;
}

.write-publish-btn {
  width: 10%;
}

.write-title-input {
  height: 7%;
}

.write-nav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.write-textarea {
  width: 65vw;
}
